.img-card{
  width: 90%;
  height: 70%;
}

.doubt{
  color:black;
  font-family: monospace;
}

.color-footer{
  background-color: #111111;
}

.text-header{
  font-family:cursive;
  font-weight:bold;
}

.box-panel{
 border: 1px solid #CDC9C9;
 padding: 3%;

 /*-webkit-box-shadow: 5px 4px 1px rgba(50, 50, 50, 0.77);
		-moz-box-shadow:    5px 4px 1px rgba(50, 50, 50, 0.77);
    -o-box-shadow:    5px 4px 1px rgba(50, 50, 50, 0.77);
		box-shadow:         5px 4px 1px rgba(50, 50, 50, 0.77);*/
}


.button-success,
       .button-error,
       .button-warning,
       .button-secondary {
           color: white;
           border-radius: 4px;
           text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
       }

       .button-success {
           background: rgb(28, 184, 65); /* this is a green */
       }

       .button-error {
           background: rgb(202, 60, 60); /* this is a maroon */
       }

       .button-warning {
           background: rgb(223, 117, 20); /* this is an orange */
       }

       .button-secondary {
           background: rgb(66, 184, 221); /* this is a light blue */
       }

.breadcrumb-inverse {
  background-color:transparent ;
}

.link-panel-list{
  color:#7F8C8D;

}

.link-panel-list:hover{
  color:#7F8C8D;
  text-decoration: none;
}

.activate-yellow:hover{
  background-color: #FFF0A0;
}
