{% extends "courses/course_dashboard.html" %}
{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'course:announcements' course.slug %}">Anúncios</a></li>
{% endblock %}
{% block dashboard_content %}


{% for announcement in announcements %}
<div class="card box-panel">
  <!--Card content-->
  <div class="card-block">
    <div class="card card-dark">
      <!--Title-->
      <h4 class="card-title bold">
        <a href="{% url 'course:show_announcement' course.slug announcement.pk %}">
        {{ announcement.title }}
       </a>
      </h4>
      <p>
      {{ announcement.content|linebreaks }}
      </p>
      <p>
        <a href="{% url 'course:show_announcement' course.slug announcement.pk %}#comments"><i class="fa fa-comments-o" aria-hidden="true"></i>
          {% with coments_count=announcement.comments.count %}
            {{ coments_count }}
            Comentário{{ announcement.comments.count|pluralize }}
          {% endwith %}
         </a>
      </p>
    </div>
  </div>
  <!--/.Card content-->
</div>
<br>

{% empty %}

<h3 class="pure-u-1 alert alert-info">Nenhum anúncio Criado </h3>

{% endfor  %}
{% endblock  %}
