<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="col-md-12 jumbotron">
    <div class="col-md-offset-1">
        <h3 class="text-header">{{ course.name }}</h3>
        <p>
            {{ course.description }}
        </p>
        <a href="{% url 'course:enrollment' course.slug %}" class="button-success pure-button" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Inscreva-se</a>
        <a href="{% url 'course:index' %}" class="button-warning pure-button"> <i class="fa fa-arrow-left" aria-hidden="true"></i> voltar</a>
    </div>

</div>

<div class="container">
    <div class="col-md-12">
        <div class="row"><!--Card-->
            <!--Card Dark-->
            <div class="card card-dark">
                <!--Card content-->
                <div class="col-md-9">
                    <!--Social shares button-->
                    <a class="activator"><i class="fa fa-share-alt"></i></a>
                    <!--Title-->
                    <div class="col-md-3">
                        <p>
                            <b>SOBRE O CURSO</b>
                        </p>
                        <hr>
                    </div>

                    <div class="col-md-10">
                        {{ course.about | linebreaks}}
                    </div>
                    <!--Text-->
                </div>
                <!--/.Card content-->
                <br>
                <div class="col-md-2">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        {% if course.image %}
                        <img src="{{ course.image.url }}"  class="img-fluid" width="350" height="300" alt="{{ course.name }}">
                        {% else %}
                        <img src="{% static 'img/courses/default.png'%}"  width="350" height="300"  alt="{{ course.name }}">
                        {% endif%}

                        <br><br><br>
                        <b class="doubt">DUVIDAS ?</b>
                        <hr>
                        <a class="pure-button" href="#mensage">
                            Fale Conosco
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="mensage" class="l-box-lrg pure-u-3-5 pure-u-md-2-5">

        <h3>Tire sua dúvida sobre o curso</h3>
        <hr>
        {% if is_valid %}
        <div class="text-center alert-success">
            <p>Mensagem Enviada com sucesso ! :D</p>
        </div>
        {% endif%}
        <form method="POST" class="pure-form pure-form-stacked">
            <fieldset>
                {% csrf_token %}
                {% for field in form %}
                <div class="pure-control-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    {% for error in field.errors %}
                    <ul>
                        <li>{{ error }}</li>
                    </ul>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}

                <button type="submit" class="pure-button button-success">Enviar</button>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
