<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-header">Lista de Cursos</h1>
            <hr>
            <p>Lista de Cursos disponiveis na Plataforma Simple MOOC.</p>
        </div>
        {% for course in courses %}

        <div class="col-md-12">
            <hr>
            <div class="row"><!--Card-->
                <!--Card Dark-->
                <div class="card card-dark">
                    <div class="col-md-3">
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <a href="{{ course.get_absolute_url }}">
                            {% if course.image %}
                            <img src="{{ course.image.url }}" class="img-rounded" alt="{{ course.name }}" width="270" height="236">
                            {% else %}
                            <img src="{% static 'img/courses/default.png'%}" class="img-thumbnail" alt="{{ course.name }}" width="260" height="236">
                            {% endif%}
                            </a>
                        </div>
                    </div>
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="col-md-9">
                        <!--Title-->
                        <a href="{{ course.get_absolute_url }}"><h4 class="card-title">{{ course.name }}</h4></a>
                        <hr>
                        <!--Text-->
                            {{ course.description |linebreaks}}
                        <a href="{{ course.get_absolute_url }}" class="d-flex flex-row-reverse"><h5 class="waves-effect waves-light p-2">Leia Mais <i class="fa fa-chevron-right"></i></h5></a>
                    </div>
                    <!--/.Card content-->
                </div>
            </div>
            </div>
            <!--/.Card Dark-->

            {% empty %}
            <div class="col-md-12 text-center">
                <h1>Nenhum Curso disponivel na Plataforma Simple MOOC.</h1>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}
