{% extends "courses/course_dashboard.html" %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'course:lessons' course.slug %}">Aulas</a></li>
<li><a href="{% url 'course:lesson' course.slug lesson.pk %}">{{ lesson }}</a></li>
<li><a href="{% url 'course:material' course.slug material.pk %}">{{ material }}</a></li>
{% endblock %}

{% block dashboard_content %}
<div class="card box-panel">
  <!--Card content-->
  <div class="card-block">
    <div class="card card-dark">
      <h2><a href="{% url 'course:material' course.slug material.pk %}">{{ material }}</a></h2>
      {{ material.embedded|safe }}
      <p>
        <a class="pure-button button-secondary" href="{% url 'course:lesson' course.slug lesson.pk %}">Voltar</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
