<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example that shows off a responsive product landing page.">
  <title>Simple Mooc</title>

  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!--[if lte IE 8]>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <!--<![endif]-->

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

  <!--[if lte IE 8]>
  <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="{% static 'css/marketing.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <!--<![endif]-->
</head>
<body>

  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading border-all decoration-none" href="{% url 'core:home' %}">Simple MOOC</a>

      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{% url 'core:home' %}" class="pure-menu-link"><b>Home</b></a></li>
        <li class="pure-menu-item"><a href="{% url 'course:index' %}" class="pure-menu-link">Cursos</a></li>
        <li class="pure-menu-item"><a href="{% url 'core:contact' %}" class="pure-menu-link">Contato</a></li>
        {% if user.is_authenticated %}
        <li class="pure-menu-item"><a href="{% url 'accounts:dashboard' %}" class="pure-menu-link">Meu Painel</a></li>
        <li class="pure-menu-item"><a href="{% url 'accounts:logout' %}" class="pure-menu-link">Sair</a></li>
        {% else %}
        <li class="pure-menu-item"><a href="{% url 'accounts:login' %}" class="pure-menu-link">Entrar</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
<br>
<br>
<div class="pure-u-24-24 text-center">
  {% for message in messages  %}
      <p class="alert alert-info">{{ message }}</p>
  {% endfor %}
</div>
  {% block content %}{% endblock %}
<br><br>


  <div class="color-footer l-box is-center">
    Simple MOOC - Uma Simples plataforma de ensino a distância.
  </div>

</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
