<!doctype html>
{% extends "base.html" %}
{% load courses_tags %}
{% block content %}

<div class="pure-g">
  <div class="pure-u-24-24">
    <ol class="breadcrumb breadcrumb-inverse">
      {% block  breadcrumb %}
      <li><a href="{% url 'core:home' %}">Home</a></li>
      <li><a href="{% url 'accounts:dashboard' %}">Meu Painel</a></li>
      {% endblock  %}
    </ol>
  </div>

  <div class="pure-u-1-24">

  </div>

  <div class="pure-u-6-24">
    <!--Card Light-->
    <div class="card box-panel">
      <!--Card image-->
      <div class="view overlay hm-white-slight">

      </div>
      <!--/.Card image-->
      <!--Card content-->
      <div class="card-block">
        <ul class="pure-menu-list">
          <li class="pure-menu-heading border-button">Bem-Vindo, {{ user }}</li>
          {% block menu_options %}
          {%  load_my_courses user as enrollments %}
            <li class="pure-menu-heading border-button ">Meus Cursos</li>
          {% for enrollment in enrollments  %}
            <li class="pure-menu-item" >
              <a href="{% url 'course:announcements' enrollment.course.slug %}" style="color:#104E8B;" class="list-group-item">
              <i class="fa fa-book" aria-hidden="true"></i> {{ enrollment.course}}
            </a>
          </li>
          {% empty %}
            <li class="list-group-item">Nenhum curso encontrado</li>
          {% endfor %}
            <li class="pure-menu-heading border-button ">Configurações de Conta</li>
            <li class="pure-menu-item"><a  style="color:#104E8B;" class="list-group-item" href="{% url 'accounts:edit' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Editar Conta</a></li>
            <li class="pure-menu-item"><a  style="color:#104E8B;" class="list-group-item" href="{% url 'accounts:edit_password' %}"><i class="fa fa-lock" aria-hidden="true"></i> Atualizar Senha</a></li>
          {% endblock menu_options %}
        </ul>
        <!--Text-->
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card Light-->
  </div>
  <div class="pure-u-1-24">
  </div>

  <div class="pure-u-3-5">

    {% block dashboard_content %}
    <div class="pure-u-1-24"></div>
    <legend>Meus Cursos</legend>
    {% for  enrollment in enrollments  %}
    <div class="card box-panel">
      <!--Card content-->
      <div class="card-block">
        <div class="card card-dark">
          <!--Title-->
          <h4 class="card-title bold">{{ enrollment.course }}  ({{ enrollment.course.start_date|date:'d/m/Y'|default:'Não informado data de inicío' }})</h4>
          <p>{{ enrollment.course.description |linebreaks}}</p>
          <p>
            <a href="{% url 'course:announcements' enrollment.course.slug %}" class="button-primary pure-button"><i class="fa fa-sign-in" aria-hidden="true"></i> Acessar</a>
            <a href="#" class="button-error pure-button"> <i class="fa fa-ban" aria-hidden="true"></i> Cancelar </a>
          </p>
        </div>
      </div>
      <!--/.Card content-->
    </div>
    {% empty %}
    <div class="pure-u-24-24 text-center">
          <p class="alert alert-info">Nenhum Cursos encontrado.</p>
    </div>
    {% endfor %}

    {% endblock  %}


  </div>
</div>
{% endblock %}
