<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="pure-g">
{% if success %}
    <div class="pure-u-6-24">
    </div>
    <div class="pure-u-12-24">
        <div class="alert alert-success text-center">
            <p> Um E-mail Foi enviado com detalhes para gerar uma nova senha nova senha <i class="fa fa-smile-o fx-5" aria-hidden="true"></i></p>
        </div>
        {% else %}
    <div class="pure-u-9-24">
    </div>
    <div class="pure-u-6-24">
        <h5>Informe seu E-mail</h5>
        <form class="pure-form pure-form-stacked" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Recuperação de Senha</legend>
                {% for field in form   %}
                {{ field.label_tag }}
                {{ field }}
                <span class="alert-danger list-group-item">{{ field.errors }}</span>
                {% endfor %}
                <button type="submit" class="pure-button pure-button-primary">Enviar E-mail</button>
            </fieldset>
        </form>
        {% endif %}
    </div>
    <div class="pure-u-9-24">

    </div>
</div>



{% endblock %}
